<h1>授業開始時刻の登録</h1>
<%= form_for @timetable do |f| %>
    <div>
        <%= f.label :レッスン1 %><br>
        <%= f.datetime_field :lesson1 %>
    </div><br>
    <div>
        <%= f.label :レッスン2 %><br>
        <%= f.datetime_field :lesson2 %>
    </div><br>
    <div>
        <%= f.label :レッスン3 %><br>
        <%= f.datetime_field :lesson3 %>
    </div><br>
    <div>
        <%= f.label :レッスン4 %><br>
        <%= f.datetime_field :lesson4 %>
    </div><br>
    <div>
        <%= f.label :レッスン5 %><br>
        <%= f.datetime_field :lesson5 %>
    </div><br>
    <div>
        <%= f.label :レッスン6 %><br>
        <%= f.datetime_field :lesson6 %>
    </div><br>
    <div>
        <%= f.label :レッスン7 %><br>
        <%= f.datetime_field :lesson7 %>
    </div><br>
    <div>
        <%= f.label :レッスン8 %><br>
        <%= f.datetime_field :lesson8 %>
    </div><br>
    <div>
        <%= f.label :レッスン9 %><br>
        <%= f.datetime_field :lesson9 %>
    </div><br>
    <div>
        <%= f.label :レッスン10 %><br>
        <%= f.datetime_field :lesson10 %>
    </div><br>
    <div>
        <%= f.label :レッスン11 %><br>
        <%= f.datetime_field :lesson11 %>
    </div><br>
    <div>
        <%= f.label :レッスン12 %><br>
        <%= f.datetime_field :lesson12 %>
    </div><br>
    <div>
        <%= f.label :レッスン13 %><br>
        <%= f.datetime_field :lesson13 %>
    </div><br>
    <div>
        <%= f.label :レッスン14 %><br>
        <%= f.datetime_field :lesson14 %>
    </div><br>
    <div>
        <%= f.label :レッスン15 %><br>
        <%= f.datetime_field :lesson15 %>
    </div><br>
    <div><%= f.submit "送信" %></div>
<% end %>