<%= link_to "ログアウト", destroy_user_session_path, method: :delete %><br>
<h1>TEST</h1>
<h2>モニタリングする授業</h2>
    <h3><%= @focus_course.name %></h3>
    <p>モニタリングする課題：
        <% @events.each do |event| %>
            <%= event.name %>
        <% end %>
    </p><br>
    <p>学生：
        <% @users.each do |user| %>
            <ol>
                <%= user.name %>
            </ol>
        <% end %>
    </p><br>
<h2>授業一覧</h2>
    <% @courses.each do |course| %>
        <li>
            <%= link_to course.name, "courses/#{course.id}/edit", method: :get %>
            <%= link_to "削除", "courses/#{course.id}", method: :delete %><br>
        </li>
    <% end %><br>

<%= button_to "授業を追加する", new_course_path, method: :get %><br>
<%= button_to "モニタリング", events_path, method: :get %>



