<%= current_user.name %>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %><br>
<h2>メッセージ送信システム</h2>
    <% if !@find_course.nil? %>
        <% @focus_course.each do |course| %>
            <h3>モニタリングする授業：
            <%= course.name %></h3>
            <p>モニタリングする課題：
            <% course.activities.each do |activity|%>
               <%= activity.name %></p>
               <p>提出した学生：
               <% activity.events.each do |event|%>
                   <%= event.user.name %>
                   <%= event.submitted_time %></p>
               <% end %>
            <% end %>
        <% end %>
    <% else %>
        <p>モニタリングする授業はありません</p>
    <% end %>
    
<h3>授業一覧</h3>
    <% @courses.each do |course| %>
        <li>
            <%= link_to course.name, "courses/#{course.id}/edit", method: :get %>
            <%= link_to "削除", "courses/#{course.id}", method: :delete %><br>
        </li>
    <% end %><br>

<%= button_to "授業を追加する", new_course_path, method: :get %><br>
<%= button_to "モニタリング", events_path, method: :get %>



