<h1>モニタリングする授業の登録</h1>
<%= form_for @course do |f| %>
    <div>
        <%= f.label :授業名 %><br>
        <%= f.text_field :name, autofocus: true %>
    </div><br>
    <div>
        <%= f.label :時間割コード %><br>
        <%= f.text_field :course_code, autofocus: true %>
    </div><br>
    <div><%= f.submit "送信" %></div>
<% end %>