<h1>Courses#new</h1>
<%= form_for @course do |f| %>
    <div>
        <%= f.label :授業名 %><br>
        <%= f.text_field :name, autofocus: true %>
    </div>
    <div>
        <%= f.label :時間割コード %><br>
        <%= f.text_field :course_code, autofocus: true %>
    </div>
    <div>
        <%= f.label :授業日時 %><br>
        <%= f.text_field :start_time, autofocus: true %>
    </div>
    <div><%= f.submit "送信" %></div>
<% end %>